@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Calendar Sample</h1>
    <p class="lead">
        Simple application which allows creating birthday events in
        <a href="https://developers.google.com/google-apps/calendar/">Google Caledar API</a> from a CSV file.
    </p>
</div>